[server default]
manager_workdir=/var/log/masterha/{APP}
manager_log=/var/log/masterha/{APP}/manager.log
user=admin
password=admin
ssh_user=mysql
repl_user=repl
repl_password=repl
ping_interval=1
shutdown_script=""
master_ip_online_change_script=""
report_script=""
#log_level=debug

[server1]
hostname=192.168.126.129
port=3306
candidate_master=1
master_binlog_dir="/home/mysql/mydata/data1/binlog"


[server2]
hostname=192.168.126.130
port=3306
candidate_master=1
master_binlog_dir="/home/mysql/mydata/data1/binlog"

[server3]
hostname=192.168.126.130
port=3307
